body {
  background-color: #dfdfdf;
  margin: 0;
  margin-left: 0 20px;
}

h1,
h2 {
  font-family: Georgia, serif;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 50px;
}

h2 {
  font-size: 1.25em;
}

p,
input,
label,
span {
  font-family: "Space Mono", monospace;
}

input {
  margin: 0 3px;
}

.result {
  margin: 50px 0;
  height: 100%;
  width: 50%;
  background-color: #f2f2f2;
  min-height: fit-content;
  padding: 10px;
}

section > section {
  display: flex;
  border-bottom: 1px solid gray;
}

.calc {
  margin: 50px 0;
  width: fit-content;
  width: 30%;
}

form div {
  margin: 5px 0;
}

#calculator {
  padding: 5px;
}

input[type="submit"] {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #3498db;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  section > section {
    display: block;
  }

  .calc {
    width: 100%;
  }

  .result {
    width: 100%;
  }
}
